.navbar-nav .nav-link img.icono {
  width: 45px;
  height: 45px;
  object-fit: contain;
  text-align: right;
}

.navbar-nav .nav-link {
  padding: 0 10px !important;
}

.navbar-nav .nav-item {
  margin-right: 5px;
}

h4, h1, h5{
    color: white;
}
.container{
    border-radius: 20px;
}
input{
    font-size: 20px;
    color: #0479d3;
    background-color: #ffeacb;
    border-radius: 20px;
    height: 50px;
    text-align: center;
}
#continuar{
    background-color: #0479d3;
    color: #ffeacb;
    border-radius: 40px;
    font-size: 20px;
    height: 80px;
    width: 200px;
}
input::placeholder{
    font-size: 15px;
    color: #4ca9f0;
    text-align: center;
}