.navbar-nav .nav-link img.icono {
  width: 45px;
  height: 45px;
  object-fit: contain;
  text-align: right;
}

.navbar-nav .nav-link {
  padding: 0 10px !important;
}

.navbar-nav .nav-item {
  margin-right: 5px;
}